<section class="card">
    <div class="card-body">
        <h1>Sobre</h1>
        <div class="row row-cols-2 d-flex flex-wrap align-items-center">
            <div class="col">
                <img src="/img/logo.png" class="img-thumbnail m-auto d-block" alt="">
            </div>
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sed at magni nisi tempora deserunt soluta harum nemo amet quisquam doloribus pariatur officia eos cumque quaerat voluptate? Asperiores molestias quod beatae explicabo repudiandae magni consequatur amet modi ipsa ipsam provident omnis corrupti nam quam, sint similique sit minus est, quaerat, dolorem ab doloremque saepe nulla. Tenetur eum dolores suscipit est ullam commodi possimus expedita. Quisquam laborum, velit asperiores omnis ab incidunt nam modi, consectetur repellendus illo magni quibusdam? Doloremque assumenda maxime aliquid? Voluptatibus fugiat officiis earum, eligendi totam quaerat dolorem provident odit accusamus amet accusantium nesciunt culpa error sit nihil. </p>
            </div>
        </div>
    </div>
</section>
