<div class="bg-light rounded-3 py-1 pb-4 px-4">
    <div class="container-fluid py-2">
        <h1 class="display-4 fw-bold ">Página principal del Gimnasio</h1>
        <p class="lead">Esta aplicación web ha sido desarrollada por Gerardo Teunissen Suárez como Proyecto Integrado para el ciclo de Desarrollo de Aplicaciones Multiplataforma a Distancia  realizado en el centro de Formación Profesional Cesur. </p>
        <hr class="my-4">
        <p>Esta aplicación web sirve para crear y gestionar citas previas, en este caso un gimnasio.</p>
        <a href="https://github.com/Loxtombox/Nodejs-Mongodb-CRUD-AppWeb" target="_blank" class="btn btn-primary"><i class="fa-brands fa-github mx-1" ></i>      Página Github de este Proyecto Integrado</a>
    </div>
</div>
