<!-- MENÚ DE LA WEB -->
<nav class="navbar navbar-expand-lg bg-dark w-100" data-bs-theme="dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Citas Gimnasio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                    <!-- SOLO VISIBLE SI IDENTIFICADO -->
                    {{#if user}}
                        {{#if (eq user.permisos 0)}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/permisos">Permisos</a>
                        </li>
                        {{/if}}
                        {{#if (eq user.permisos 1)}}
                        <li class="nav-item">
                            <a class="nav-link" href="/entrenador/citas">"Citas Entrenador"</a>
                        </li>
                        {{/if}}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Notas
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/notes">Todas las Notas</a></li>
                                <li><a class="dropdown-item" href="/notes/add">Agregar nueva Nota</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    {{else}}
                    <!-- SI NO ESTA IDENTIFICADO -->
                        <li class="nav-item">
                            <a href="/users/signin" class="nav-link">Acceso</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/signup" class="nav-link">Registrarse</a>
                        </li>
                    {{/if}}
            </ul>
        </div>
    </div>
</nav>
