<!-- MENÚ DE LA WEB -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Citas Gimnasio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Sobre</a>
                    </li>
                    {{!-- SOLO ADMINISTRADORES --}}
                    {{!-- {{#if (eq permisos  0)}} --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/permisos">Permisos</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="/entrenador/citas">"Citas Entrenador"</a>
                    </li>
                    {{!-- {{/if}} --}}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- SOLO VISIBLE SI IDENTIFICADO -->
                    {{#if user}}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Notas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/notes">Todas las Notas</a>
                                <a class="dropdown-item" href="/notes/add">Agregar nueva Nota</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                            </div>
                        </li>
                    {{else}}
                    <!-- SI NO ESTA IDENTIFICADO -->
                        <li class="nav-item">
                            <a href="/users/signin" class="nav-link">Acceso</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/signup" class="nav-link">Registrarse</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>