<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nueva Nota</h3>    
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="Título" autofocus>     
                </div>
                <div class="form-group">
                    <textarea name="description" placeholder="Descripción" class="form-control"></textarea>
                </div> 
                <div>
                    <select class="form-control" name="idEntrenador" aria-label="Default select example">
                        <option selected>Seleccione Entrenador</option>
                        <!-- repite por cada carta -->
                        {{#each users}} 
                            {{#if (eq permisos  1)}}
                            <option value="{{_id}}"> {{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </div>
                <p></p>
                <div class="form-group">
                    <script>
                        $(function() {
                        $('#datetimepicker').datetimepicker();
                        });
                    </script>
                    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                        <input type="date" class="form-control datetimepicker-input" data-target="#datetimepicker" name="fecha" id="datetimepicker" ></input>

                        <select class="form-control" name="fecha" id="HoraPicker" data-target-input="nearest" aria-label="Default select example">
                            <option selected>Seleccione Hora</option>
                            {{!-- <option value="10:00" type="date">10:00</option>
                            <option value="10:30" type="date">10:30</option>
                            <option value="11:00" type="date">11:00</option>
                            <option value="11:30" type="date">11:30</option>
                            <option value="12:00" type="date">12:00</option>
                            <option value="12:30" type="date">12:30</option>
                            <option value="13:00" type="date">13:00</option>
                            <option value="13:30" type="date">13:30</option>
                            <option value="14:00" type="date">14:00</option>
                            <option value="14:30" type="date">14:30</option>
                            <option value="15:00" type="date">15:00</option> --}}
                        </select>
                    </div>
                    <script>
                        $(function(){
                            $('#datetimepicker').on('change', function(){
                                const selectedDate = $(this).val();
                                $.ajax({
                                    url: '/getAvailableTimes',
                                    type: 'POST',
                                    data:{date: selectedDate},
                                    success: function(getAvailableTimes){
                                        const $timeInput = $('#HoraPicker');
                                        $timeInput.empty();
                                        $timeInput.append($('<option>',{
                                            value: '',
                                            text: 'Select a time'
                                        }));
                                        aviableTime.forEach(function(time){
                                            $timeInput.append($('<option>', {
                                                value: time,
                                                text: time
                                            }));
                                        });
                                    },
                                    error: function(error){
                                        console.log(error);
                                    }
                                });
                            });
                        });
                    </script>
                </div> 
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        CREAR
                    </button>
                </div>  
            </form>
        </div>
    </div>
</div>

{{!--tratamiento de la fecha y hora para --}}
<script type="text/javascript">

    $(function(){
        $('#dateselect').datetimepicker({
            inline: true,
            sideBySide: true,
            locale: 'es',
            format: 'yyyy-mm-dd hh:ii'
        });
    });
</script>