<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- icono --}}
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <!--Importo tanto el bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {{!-- importo moment --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <title>Citas Gimnasio</title>
    <!-- FONTAWESOME CDN -->
    <script src="https://kit.fontawesome.com/cea1b787b9.js" crossorigin="anonymous"></script>

    <!-- CSS CUSTOMIZADO -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{!-- CDNS NECESARIOS --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.9/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <!--Menú de la web -->
    {{>navigation}}
   

    <main class="container p-4">
        <!-- mensajes, errores y cuerpo de la web -->
        {{>messages}}
        {{>errors}}
        {{{body}}}

    </main>

    <!-- BOOTSTRAP Y SUS DEPENDENCIAS-->




</body>
</html>